<!-- <mat-card>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  <p>You have received a file called "cat-picture.jpeg".</p>
  <button mat-raised-button (click)="openBottomSheet()">Open file</button>
</mat-card> -->

<app-daily></app-daily>

<router-outlet></router-outlet>

<p class="content"><span>Las pruebas e2e y unitarias buscan este texto</span></p>