.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

h1.big-title {
  font-size: 4em;
}

.hn-news {
  text-align: left;
  width: 100%;
}

mat-list-item button {
  display: none;
}

mat-list-item {
background-color: #fff;
}

.text-muted {
color: #ccc;
}

mat-list-item:hover {
background-color: #fafafa;
}

mat-list-item:hover button {
  display: block;
}

div.w20 {
  width: 20%;
}

div.w70 {
  width: 70%;
}

.hn-news-item button {
  float: right;
  margin-left: auto;
  margin-right: 0px;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 2px auto 32px;
  padding: 0 16px;
  max-width: 1960px;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  width: 100%;
}