<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (onclick)="getIcons()">Refresh</button>
              <button mat-menu-item>Other</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <mat-list role="list">
            <mat-list-item *ngFor="let icon of icons">
                <div class="w70">
                  {{ icon.name }}
                </div>
                <div class="w20">
                  <p> {{icon.price }} </p>
                </div>
               <button mat-icon-button>
                <mat-icon matListIcon>{{ icon.name }}</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
